/*
.project-image-container {
    flex: 1;
    margin-right: 20px;
}

.project-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
*/

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.project-details {
  flex: 2;
  white-space: pre-line;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00a4e4;
}

.project-tagline {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ccc;
}

.project-description {
  font-size: 16px;
  color: #bbb;
  margin-bottom: 20px;
}

.tech-stack {
  flex: 1;
  margin-left: 20px;
}

.tech-stack h4 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.tech-stack ul {
  list-style: none;
  padding: 0;
}

.tech-stack li {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.project-link {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #0074e4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.project-link:hover {
  background-color: #005cbf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .tech-stack, .project-links {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .tech-stack h4 {
    text-align: center;
  }

  .tech-stack ul {
    padding: 0;
  }

  .tech-stack li {
    margin-bottom: 5px;
  }

  .project-links {
    align-items: center;
    text-align: center;
  }
}

